name: meal_app
description: A Flutter meal application with favorites and notifications
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  http: ^1.1.0

  firebase_core: ^3.6.0
  firebase_messaging: ^15.1.3

  flutter_local_notifications: ^17.2.3

  shared_preferences: ^2.2.2

  url_launcher: ^6.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true